<div class='main-container'>
  <div class='block'>
  <mat-card>
    <mat-card-header>
      <h1>This is the YouTube API. No.. The VenturTube API.</h1>
    </mat-card-header>
    <img mat-card-image src="https://i.imgur.com/7JxPpeC.png">    
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <a routerLink='/youtube' routerLinkActive='active'>
        <button mat-raised-button>
          Go!
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  </div>
</div>