mat-toolbar {
    background-color: #282828;
    width:100vw;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 1;
}
mat-toolbar img {
    display: block;
    margin-left: calc(50% - 270px);
margin-right: auto 
}
button {
    margin-right:8px;
    background-color:#FF0000;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
}
body {
    color: #FFFFFF;
    background-color: #464646;
    height:calc(100vh - 94px);
    padding:15px;
}